.App {
  text-align: center;
  width: 100%;
  margin: auto;
}

.list {
  text-align: left;
  .card {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    border: 1;
    .col-md-12 {
      > .name {
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 126px;
        margin: 10px;
      }
    }

    .col-md-3 {
      padding-left: 150px;
      > a {
        text-decoration: none;
        color: black;
      }
      > i {
        margin: 10px;
      }
    }

    .col-md-6 {
      > i {
        margin: 10px;
        padding-left: 150px;
      }
    }
  }
}

::placeholder {
  color: rgb(247, 247, 247);
  opacity: 1;
}

.inputContainer {
  width: 100%;
  margin: auto;
  text-align: center;
  > .input {
    color: black;
  }

  > .button {
    margin: 0;
    padding: 0;
    width: 3%;
    border: 0;
    padding: 15px;
    background-color: #44415e;

    > i {
      color: antiquewhite;
    }
  }
  > .search {
    margin: 0;
    padding: 0;
    width: 50%;
    background-color: #44415e;
    border: 0;
    padding: 15px;
    color: aliceblue;
  }
}
