@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

$background: #44415e;
$searchBorder: rgb(168, 148, 148);

.options {
  font-size: 15px;
  color: black;
}

.App {
  .search-container {
    max-width: 1000px;
    .input-container {
      background-color: $background;
      padding: 10px 15px 20px 50px;
      width: 100%;
      position: relative;
      .search-icon {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 15px;

        i {
          color: $searchBorder;
        }
      }
      .search-input {
        color: #fff;
        width: 80%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $searchBorder;
        &:focus-visible {
          outline-offset: 0;
          outline-style: none;
        }
        &::placeholder {
          color: $searchBorder;
        }
      }
    }

    .search-result-container {
      max-height: 80vh;
      overflow-y: auto;
      > div:nth-child(odd) {
        background-color: #f8f6f8;
      }

      .result-item {
        border-radius: 0;
        background-color: #e9e7e9;
        padding: 30px;
        color: #333;
        .name {
          @extend .options;
          font-size: 28px;
        }
        .user-info {
          display: flex;
          flex-basis: 100%;
          flex-wrap: wrap;
          margin: 15px 0;

          .info-section {
            white-space: nowrap;
            flex-basis: 30%;

            a {
              text-decoration: none;
              color: #000;
            }
            &.policy {
              flex-basis: 40%;
            }
          }
        }
      }
      .not-found {
        text-align: center;
        font-size: 250%;
      }
    }
  }
}
